{% extends 'base.html.twig' %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Bienvenue sur HotelMg</h1>
          <p class="lead text-muted">
            HotelMg est une application web, permettant de trouver des hotels, chambres selon votre besoin
          </p>
          <p>
            {% if app.user is same as null %}
              <a href="{{ path('app_security_register')}}" class="btn btn-primary my-2">Inscription</a>
              <a href="{{ path('app_security_login')}}" class="btn btn-secondary my-2">Connexion</a>
            {% endif %}
            
          </p>
        </div>
      </section>
{% endblock %}
