{% extends "base.html.twig" %}

{% block title %}HotelMg - Changer mon mot de passe{% endblock %}

{% block body %}
    <div class="container mt-3">

        <h3>Modifier mon mot de passe</h3>
        
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>    
        {% endfor %}

        {{ form(form) }}
        
    </div>
{% endblock %}